{% extends "base.html" %}

{% block sitetitle %}Groups{% endblock %}

{% block main %}
  <h2>Groups</h2>
  {% if groupdescriptions %}
  <ul class="objectlist">
    {% for groupdescription in groupdescriptions %}
    <li><a href="{% url 'groupdescriptions_read' groupdescription.slug %}">{{ groupdescription.name }}</a></li>
    {% endfor %}
  </ul>
  {% else %}
    <p>No groups found.</p>
  {% endif %}
  {% include "pagination.html" %}
  <div class="actions">
    {% if perms.accounts.add_groupdescription %}<a class="ok" href="{% url 'groupdescriptions_create' %}">Create a new group</a>{% endif %}
  </div>
{% endblock %}
