{% extends "base.html" %}

{% block sitetitle %}{{ groupdescription.name }}{% endblock %}

{% block main %}
  <div class="breadcrumb"><a aria-label="Return to the list of groups" href="{% url 'groupdescriptions_list' %}">&larr; Groups</a></div>
  <h2>{{ groupdescription.name }}</h2>
  <section class="htmlfield">{{ groupdescription.description | safe}}</section>
  <h3>Permissions</h3>
  <p>These permissions allow members of the group to add, change, delete, or view ANY object of a particular type. <br> This permission is checked before permissions on individual objects are checked.</p>
  {% if groupdescription.group.permissions.all %}
  <ul>
    {% for permission in groupdescription.group.permissions.all %}
    {% if permission.name|slice:"-11:" == "description" %}
    <li>{{ permission.name|slice:":-11" }}</li>
    {% else %}
    <li>{{ permission.name }}</li>
    {% endif %}
    {% endfor %}
  </ul>
  {% else %}
  <p>No permissions found.</p>
  {% endif %}
  <h3>Members</h3>
  {% if groupdescription.group.user_set.all %}
  <ul>
    {% for staff_user in groupdescription.group.user_set.all %}
    <li><a href="{% url 'staff_read' staff_user.username %}" title="{{ staff_user.first_name }}{{ staff_user.last_name }}">{{ staff_user.username }}</a></li>
    {% endfor %}
  </ul>
  {% else %}
  <p>No users in this group.</p>
  {% endif %}
  <div class="actions">
    <a class="bonus" href="{% url 'groupdescriptions_update_permissions' groupdescription.slug %}">Edit Permissions</a>
    <a class="ok" href="{% url 'groupdescriptions_update' groupdescription.slug %}">Edit</a>
    <a class="warning" href="{% url 'groupdescriptions_update' groupdescription.slug %}">Delete</a>
  </div>
{% endblock %}
