{% extends "base.html" %}

{% block sitetitle %}Users{% endblock %}

{% block main %}
  <h2>Users</h2>
  {% include "base_search_form.html" %}
  {% if users %}
  <ul class="objectlist">
    {% for user_listing in users %}
    <li>
      <a href="{% url 'users_read' user_listing.username %}" title="{{ user_listing.first_name }} {{ user_listing.last_name }}">{{ user_listing.username }}</a>
      {% if user_listing.is_staff %} (Staff){% endif %}
    </li>
    {% endfor %}
  </ul>
  {% else %}
    <p>No users found.</p>
  {% endif %}
  {% include "pagination.html" %}
{% endblock %}
