{% extends "base.html" %}

{% block sitetitle %}User {{ user_detail.first_name }} {{ user_detail.last_name }}{% endblock %}

{% block main %}
  <div class="breadcrumb"><a aria-label="Return to the list of users" href="{% url 'users_list' %}">&larr; Users</a></div>
  <h2>{{ user_detail.first_name }} {{ user_detail.last_name }}</h2>
  <p><strong>Username: </strong>{{ user_detail.username }}</p>
  <p><strong>First Name: </strong>{{ user_detail.first_name }}</p>
  <p><strong>Last Name: </strong>{{ user_detail.last_name }}</p>
  <p><strong>Email: </strong>{{ user_detail.email }}</p>
  <p><strong>Last login: </strong>{% if user_detail.last_login %}{{ user_detail.last_login|date:"Y-m-d \a\t g:i a e" }}{% else %}None{% endif %}</p>
  <p><strong>Date joined: </strong>{{ user_detail.date_joined|date:"Y-m-d \a\t g:i a e" }}</p>
  {% if user_detail.groups.all %}
  <h3>Groups</h3>
  <ul>
    {% for group in user_detail.groups.all %}
    <li>{{group.name}}</li>
    {% endfor %}
  </ul>
  </p>
  {% endif %}
  <div class="actions">
    <a class="ok" href="{% url 'users_update' user_detail.username %}">Edit</a>
  </div>
{% endblock %}
