html {
  font-family: 'Inter', sans-serif;
}

@supports (font-variation-settings: normal) {
  html {
    font-family: 'Inter var', sans-serif;
  }
}

pre,
code {
  font-family: 'Source Code Pro', monospace;
  font-weight: 300;
}

:root {
  --skip-link-background: #222;
  --carleton-red: #bf112b;
  --error-text-form: #b40000;
  --ok-button-background: #c5dcff;
  --ok-button-hover-background: #a9cbfe;
  --warning-button-background: #ffcdcd;
  --warning-button-hover-background: #ffa8a8;
  --bonus-button-background: #ffc5f6;
  --bonus-button-hover-background: #ffb8f4;
  --permissions-button-background: #c5ffc9;
  --permissions-button-hover-background: #baffb8;
  --debug-message-background: #fafafa;
  --info-message-background: #f5fdff;
  --success-message-background: #f5fff6;
  --warning-message-background: #fffaf2;
  --error-message-background: #ffefef;
  --footer-background: #222;
  --footer-text: #bababa;
  --footer-link: #ededed;
}

* {
  box-sizing: border-box;
  font-weight: 400;
}

body {
  background: white;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

h1,
h2 {
  font-weight: 500;
  margin: 16px 0;
}

h3,
h4 {
  font-weight: 500;
  margin: 16px 0;
}

strong {
  font-weight: 500;
}

a {
  text-decoration: underline;
  color: inherit;
}

p {
  line-height: 1.5;
  margin: 16px 0;
}

main ul,
main ol {
  padding-left: 16px;
}

main li {
  padding: 4px 0;
}

#skip {
  display: flex;
  justify-content: center;
  height: 0;
}

#skip a {
  position: absolute;
  left: -10000px;
  top: auto;
  width: 1px;
  height: 1px;
  overflow: hidden;
}

#skip a:focus {
  position: static;
  padding: 8px 16px;
  width: auto;
  height: 3em;
  line-height: 2em;
  border-radius: 0 0 4px 4px;
  z-index: 1;
  background: var(--skip-link-background);
  color: white;
}

body > header {
  border-bottom: 1px solid #eee;
  border-top: 3px solid var(--carleton-red);
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 20px;
}

#branding {
  display: flex;
  align-items: center;
  min-height: 60px;
}

#branding h1 {
  margin: 0;
}

#branding img {
  padding-right: 10px;
}

body > header a {
  text-decoration: none;
}

body > header > nav ul {
  list-style: none;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0;
  margin: 0;
}

body > header > nav ul li {
  padding-right: 16px;
}

body > header > nav ul li:not(:last-child) {
  margin-bottom: 0;
}

body > header > nav ul li:last-child {
  padding-right: 0;
}

body > header > nav a {
  padding: 16px;
  font-size: 110%;
  display: block;
}

body > header > nav a:hover {
  color: var(--carleton-red);
  transition-property: color;
  transition-duration: 0.1s;
}

@media (max-width: 560px) {
  body > header {
    flex-direction: column;
    align-items: stretch;
  }

  #branding {
    justify-content: center;
    border-bottom: 1px solid #eee;
  }

  body > header > nav ul {
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    padding: 16px 0;
  }

  body > header > nav ul li {
    padding-right: 0;
  }
}

#main {
  flex: 1;
  max-width: 1000px;
  margin: 0 auto;
  padding: 0 20px;
  width: 100%;
}

ul.messages {
  padding-left: 0;
}

ul.messages li {
  list-style: none;
  padding: 16px;
}

ul.messages li:not(:last-child) {
  margin-bottom: 8px;
}

ul.messages li.debug {
  background: var(--debug-message-background);
}

ul.messages li.info {
  background: var(--info-message-background);
}

ul.messages li.success {
  background: var(--success-message-background);
}

ul.messages li.warning {
  background: var(--warning-message-background);
}

ul.messages li.error {
  background: var(--error-message-background);
}

div.breadcrumb {
  margin: 16px 0 32px 0;
}

form div {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

form div:not(:last-child) {
  margin-bottom: 16px;
}

form label {
  margin-bottom: 8px;
}

form input[type=text],
form input[type=url],
form input[type=password],
form select {
  font-size: 1.1em;
  padding: 8px;
  min-width: 400px;
}

@media (max-width: 560px) {
  form input[type=text],
  form input[type=url],
  form input[type=password],
  form select {
    min-width: unset;
    width: 100%;
  }
}

form input[readonly] {
  background: #f5f5f5;
  border: none;
}

form textarea {
  font-size: 1.2em;
  padding: 16px;
  width: 100%;
  min-height: 25em;
}

#id_body {
  font-family: 'Source Code Pro', monospace;
  font-weight: 300;
  font-size: 1em;
}

#id_slug,
#id_resource_slug {
  font-family: 'Source Code Pro', monospace;
  font-weight: 300;
}

#id_permissions,
#id_groups {
  padding-left: 0;
}

#id_permissions li,
#id_groups li {
  list-style: none;
  padding: 16px 0;
}

#id_permissions li input,
#id_groups li input {
  margin-right: 8px;
}

form input[type=checkbox] {
  transform: scale(1.2);
}

form div.errors input,
form div.errors textarea {
  box-shadow: red 0 0 1.5px 1px;
}

form ul.errorlist {
  margin: 8px 0 0 0;
  font-size: 0.9em;
  font-weight: 350;
  color: var(--error-text-form);
}

form ul.errorlist.nonfield {
  margin: 8px 0 16px 0;
}

form p.help {
  font-size: 0.9em;
  margin: 8px 0;
  font-weight: 350;
}

form div.errors p.help {
  margin-top: 4px;
}

form div.input_button_wrapper {
  flex-direction: row;
  align-items: center;
  margin-bottom: 0;
}

form div.input_button_wrapper input[type=submit] {
  border-radius: 4px;
  text-decoration: none;
  border: none;
  cursor: pointer;
  background-color: var(--ok-button-background);
  padding: 8px 16px;
  margin-left: 8px;
}

form div.input_button_wrapper input[type=submit]:hover {
  background-color: var(--ok-button-hover-background);
  transition-property: background-color;
  transition-duration: 0.1s;
}

.actions {
  width: 100%;
  margin: 3px 0 32px 0;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
}

.actions a,
.actions input[type=submit] {
  padding: 16px 32px;
  border-radius: 4px;
  text-decoration: none;
  border: none;
  cursor: pointer;
}

.actions a:not(:last-child),
.actions input[type=submit]:not(:last-child) {
  margin-right: 16px;
}

@media (max-width: 560px) {
  .actions {
    flex-direction: column;
    align-items: stretch;
    margin-top: 22px;
  }

  .actions a,
  .actions input[type=submit] {
    text-align: center;
  }

  .actions a:not(:last-child),
  .actions input[type="submit"]:not(:last-child) {
    margin-right: 0;
    margin-bottom: 16px;
  }
}

.actions a.ok,
.actions input[type=submit] {
  background-color: var(--ok-button-background);
}

.actions a.ok:hover,
.actions input[type=submit]:hover {
  background-color: var(--ok-button-hover-background);
  transition-property: background-color;
  transition-duration: 0.1s;
}

.actions a.warning {
  background-color: var(--warning-button-background);
}

.actions a.warning:hover {
  background-color: var(--warning-button-hover-background);
  transition-property: background-color;
  transition-duration: 0.1s;
}

.actions a.bonus {
  background-color: var(--bonus-button-background);
}

.actions a.bonus:hover {
  background-color: var(--bonus-button-hover-background);
  transition-property: background-color;
  transition-duration: 0.1s;
}

.actions a.permissions {
  background-color: var(--permissions-button-background);
}

.actions a.permissions:hover {
  background-color: var(--permissions-button-hover-background);
  transition-property: background-color;
  transition-duration: 0.1s;
}

ul.objectlist {
  padding-left: 0;
}

ul.objectlist li {
  list-style: none;
  margin-bottom: 32px;
}

li.hidden {
  color: #535353;
}

p.alert {
  background: var(--warning-message-background);
  padding: 16px 8px;
}

p.created {
  margin: 8px 0;
}

p.resource {
  margin: 8px 0;
}

section.htmlfield {
  margin: 32px 0 32px 0;
}

#sign_wrapper {
  flex-direction: row;
  align-items: baseline;
}

#sign_wrapper label {
  margin-right: 16px;
}

div.pagination {
  margin: 32px 0 32px 0;
}

body > footer {
  background-color: var(--footer-background);
  color: var(--footer-text);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 70px;
}

body > footer p {
  padding: 0 20px;
  max-width: 1000px;
  text-align: center;
}

body > footer a {
  color: var(--footer-link);
}

body > footer a:hover {
  color: white;
}

#privacynotice {
  font-size: 90%;
}
