html {
	font-family: 'Inter', sans-serif;
}

@supports (font-variation-settings: normal) {
	html {
		font-family: 'Inter var', sans-serif;
	}
}

pre, code {
	font-family: 'Source Code Pro', monospace;
	font-weight: 300;
}

:root {
  --ok-button-background: #c5dcff;
  --ok-button-hover-background: #a9cbfe;
  --warning-button-background: #ffcdcd;
  --warning-button-hover-background: #ffa8a8;
  --bonus-button-background: #ffc5f6;
  --bonus-button-hover-background: #ffb8f4;
  --carleton-red: #bf112b;
}

* {
	box-sizing: border-box;
	font-weight: 400;
}

body {
	background: white;
	min-height: 100vh;
	display: flex;
	flex-direction: column;
}

h1, h2, h3, h4 {
	font-weight: 500;
}

strong {
	font-weight: 500;
}

a {
	text-decoration: none;
	color: inherit;
}

p {
	line-height: 1.5;
	margin: 16px 0px;
}

ul, ol {
	padding-left: 20px;
}

#skip {
	display: flex;
	justify-content: center;
	height: 0px;
}

#skip a {
	position:absolute;
	left:-10000px;
	top:auto;
	width:1px;
	height:1px;
	overflow:hidden;
}

#skip a:focus {
	position:static;
	padding: 5px 10px;
	width: auto;
	height: 2.5em;
	line-height: 2em;
	border-radius: 0 0 5px 5px;
	z-index: 1;
	background: #222;
	color: white;
}

body > header {
	border-bottom: 1px solid #eee;
	border-top: 3px solid var(--carleton-red);
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding: 0px 20px;
}

#branding {
	display: flex;
	align-items: center;
	min-height: 60px;
}

#branding h1 {
	margin: 0;
}

#branding > img {
	padding-right: 10px;
}

body > header > nav ul {
	list-style: none;
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding: 0px;
	margin: 0px;
}

body > header > nav ul li {
	padding-right: 10px;
}

body > header > nav ul li:not(:last-child) {
	margin-bottom: 0px;
}

body > header > nav ul li:last-child {
	padding-right: 0px;
}

body > header > nav a {
	padding: 10px;
	font-size: 110%;
	border-radius: 5px;
	display: block;
}

body > header > nav a:hover {
	color: #bf112b;
	transition-property: color;
	transition-duration: 0.1s;
}

@media (max-width: 520px) {
	body > header {
		flex-direction: column;
		align-items: stretch;
	}

	#branding {
		justify-content: center;
		border-bottom: 1px solid #eee;
	}

	body > header > nav ul {
		flex-direction: column;
		align-items: center;
		justify-content: space-around;
		padding: 10px 0px;
	}

	body > header > nav ul li {
		padding-right: 0px;
	}
}

#main {
	flex: 1;
	max-width: 1000px;
	margin: 0 auto;
	padding: 0px 20px;
	width: 100%;
}

#main a {
	text-decoration: underline;
	color: inherit;
}

form p {
	display: flex;
	flex-direction: column;
	align-items: flex-start;
}

form p label {
  margin-bottom: 5px;
}

form p input[type=text], form p input[type=url] {
	font-size: 1.2em;
	padding: 10px;
	min-width: 400px;
}

form p textarea{
	font-size: 1.2em;
	padding: 10px;
	width: 100%;
}

#id_body {
	font-family: 'Source Code Pro', monospace;
	font-weight: 300;
	font-size: 1em;
}

form p input[type=checkbox] {
	transform: scale(1.2);
}

form p span.helptext {
	font-size: 0.9em;
	padding-top: 5px;
	font-weight: 350;
}

#actions {
	max-width: 1000px;
	margin: 0 auto;
	width: 100%;
	display: flex;
	flex-direction: row;
	justify-content: flex-start;
	align-items: center;
	margin-bottom: 16px;
}

#actions a, #actions input[type=submit] {
	padding: 10px 20px;
	border-radius: 10px;
	text-decoration: none;
	border: none;
	cursor: pointer;
}

#actions a:not(:last-child), #actions input[type=submit]:not(:last-child) {
	margin-right: 10px;
}

@media (max-width: 685px) {
	#actions {
		flex-direction: column;
		align-items: flex-start;
	}

	#actions a:not(:last-child), #actions input[type=submit]:not(:last-child) {
		margin-bottom: 10px;
		margin-right: 0px;
	}
}

#actions a.ok, #actions input[type=submit] {
	background-color: var(--ok-button-background);
}

#actions a.ok:hover, #actions input[type=submit]:hover {
	background-color: var(--ok-button-hover-background);
	transition-property: background-color;
	transition-duration: 0.1s;
}

#actions a.warning {
	background-color: var(--warning-button-background);
}

#actions a.warning:hover {
	background-color: var(--warning-button-hover-background);
	transition-property: background-color;
	transition-duration: 0.1s;
}

#actions a.bonus {
	background-color: var(--bonus-button-background);
}

#actions a.bonus:hover {
	background-color: var(--bonus-button-hover-background);
	transition-property: background-color;
	transition-duration: 0.1s;
}

#objectlist {
	padding-left: 0;
}

#objectlist h3 {
	margin-bottom: 10px;
}

#objectlist li {
	list-style: none;
}

#objectlist li {
	margin-bottom: 25px;
}

div.agreementcreated {
	margin: 5px 0px;
}

div.agreementresource{
	margin: 5px 0px;
}

body > footer {
	background-color: #222;
	color: #bababa;
	display: flex;
	justify-content: center;
	align-items: center;
	min-height: 70px;
}

body > footer a {
	color: #ededed;
}

body > footer a:hover {
	color: white;
}
