{% extends "base.html" %}
{% load static %}

{% block sitetitle %}Admin{% endblock %}

{% block main %}
  <h2>Admin Menu</h2>
  <ul>
    <li><a href="{% url 'agreements_list' %}">Agreements</a></li>
    <li><a href="{% url 'signatures_list' %}">Signatures</a></li>
    <li><a href="{% url 'faculties_list' %}">Faculties</a></li>
    <li><a href="{% url 'departments_list' %}">Departments</a></li>
    <li><a href="{% url 'resources_list' %}">Resources</a></li>
    <li><a href="{% url 'staff_list' %}">Staff</a></li>
    <li><a href="{% url 'groupdescriptions_list' %}">Groups</a></li>
  </ul>
{% endblock %}
