{% load static %}
<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Sign - {% block sitetitle %}Resource Access - MacOdrum Library{% endblock %}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="shortcut icon" href="{% static 'images/favicon.ico' %}">
    <link rel="preload" href="{% static 'css/fonts/inter/inter.css' %}" as="style">
    <link rel="preload" href="{% static 'css/fonts/source-code-pro/source-code-pro.css' %}" as="style">
    <link rel="stylesheet" href="{% static 'css/vendor/normalize.css' %}">
    <link rel="stylesheet" href="{% static 'css/main.css' %}">
    <script defer src="{% static 'js/vendor/urlify.js' %}"></script>
    <script defer src="{% static 'js/main.js' %}"></script>
  </head>
  <body>
    <div id="skip"><a href="#main">Skip to main content</a></div>
    <header>
      <a id="branding" href="/" title="Return to Sign homepage">
        <img src="{% static 'images/logo.png' %}" alt="Carleton University Logo">
        <h1>Sign</h1>
      </a>
      <nav role="navigation">
        <ul>
          <li><a href="https://library.carleton.ca">Return&nbsp;to&nbsp;the&nbsp;Library&nbsp;Website</a></li>
          {% if user.is_authenticated %}
          <li><a href="{% url 'logout' %}">Logout</a></li>
          {% else %}
          <li><a href="{% url 'login' %}">Login</a></li>
          {% endif %}
        </ul>
      </nav>
    </header>
    <main id="main">
      {% if messages %}
      <ul class="messages">
          {% for message in messages %}
          <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
          {% endfor %}
      </ul>
      {% endif %}
      {% block main %}{% endblock %}
    </main>
    <footer>
      {% block footer %}
      <p>A service of the&nbsp;<a href="https://library.carleton.ca">Carleton University Library</a>.</p>
      <p id="privacynotice">Privacy Notice: Personal information is collected by Carleton University <wbr>under the authority of Ontario’s Freedom of Information and Protection of Privacy Act <wbr>and the Carleton University Act 1952. <br>If you have any questions about the collection of personal information by Carleton University <wbr>contact the Carleton University Privacy Office, 613-520-2600 ext. 2047, <a href="mailto:University_Privacy_Office@carleton.ca">University_Privacy_Office@carleton.ca</a>.</p>
      {% endblock %}
      {% if request.user.is_staff %}
      <p><a href="{% url 'admin' %}">Admin Access</a></p>
      {% endif %}
    </footer>
  </body>
  <!-- Mellyn - Speak, Friends, and Enter! A project by Kevin Bowrin -->
</html>
