  <h2>Update {{ name }}</h2>
  <form class="update" method="post">{% csrf_token %}
    {{ form.non_field_errors }}
    {% for field in form %}
    <div {% if field.errors %}class="errors"{% endif %}>
      {{ field.label_tag }}
      {{ field }}
      {{ field.errors }}
      {% if field.help_text %}
      <p class="help">{{ field.help_text|safe }}</p>
      {% endif %}
    </div>
    {% endfor %}
    <div class="actions">
      <input type="submit" value="Save">
      <a class="warning" href="{% url urlname urlslug %}">Cancel</a>
    </div>
  </form>
