{% load static %}
<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Sign - {% block sitetitle %}Resource Access - MacOdrum Library{% endblock %}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="shortcut icon" href="{% static 'images/favicon.ico' %}">
    <link rel="stylesheet" href="{% static 'css/fonts/inter/inter.css' %}">
    <link rel="stylesheet" href="{% static 'css/fonts/source-code-pro/source-code-pro.css' %}">
    <link rel="stylesheet" href="{% static 'css/vendor/normalize.css' %}">
    <link rel="stylesheet" href="{% static 'css/main.css' %}">
  </head>
  <body>
    <div id="skip"><a href="#main">Skip to main content</a></div>
    <header>
      <a id="branding" href="/" title="Return to Sign homepage">
        <img src="{% static 'images/logo.png' %}" alt="Carleton University Logo">
        <h1>Sign</h1>
      </a>
      <nav role="navigation">
        <ul>
          <li><a href="https://library.carleton.ca">Return&nbsp;to&nbsp;the&nbsp;Library&nbsp;Website</a></li>
          <li><a href="/login">Login</a></li>
        </ul>
      </nav>
    </header>
    <main id="main">
      {% block main %}{% endblock %}
    </main>
    <footer>
      {% block footer %}A service of the&nbsp;<a href="https://library.carleton.ca">Carleton University Library</a>.{% endblock %}
    </footer>
  </body>
  <!-- Mellyn - Speak, Friends, and Enter! A project by Kevin Bowrin -->
</html>
