{% extends "base.html" %}

{% block sitetitle %}{{ agreement.title }}{% endblock %}

{% block main %}
  <h2>{{ agreement.title }}</h2>
  <p class="agreementcreated">Created {{ agreement.created | date:"Y-m-d"}}</p>
  <p class="agreementresource">Provides access to {{ agreement.resource }}</p>
  <section class="agreementbody">{{ agreement.body | safe}}</section>
  <div class="actions">
    <a class="ok" href="{% url 'agreements_update' agreement.slug %}">Edit</a>
    <a class="warning" href="{% url 'agreements_delete' agreement.slug %}">Delete</a>
  </div>
  {% if associated_signature %}
  <div class="signature">
    <p>You signed this agreement on {{ associated_signature.signed_at | date:"Y-m-d"}}</p>
  </div>
  {% else %}
  <form class="signature" method="post">{% csrf_token %}
    {{ form.non_field_errors }}
    {% for field in form %}
    <div id="{{ field.html_name }}_wrapper" {% if field.errors %}class="errors"{% endif %}>
      {{ field.label_tag }}
      {{ field }}
      {{ field.errors }}
      {% if field.help_text %}
      <p class="help">{{ field.help_text|safe }}</p>
      {% endif %}
    </div>
    {% endfor %}
    <div class="actions">
      <input class="ok" type="submit" value="Submit">
    </div>
  </form>
  {% endif %}
{% endblock %}
