{% extends "base.html" %}

{% block sitetitle %}{{ agreement.title }}{% endblock %}

{% block main %}
  <div class="breadcrumb"><a aria-label="Return to the list of agreements" href="{% url 'agreements_list' %}">&larr; Agreements</a></div>
  <h2>{{ agreement.title }}</h2>{% if agreement.hidden %}<p class="alert">&#9888; This agreement is hidden.</p>{% endif %}
  <p class="created">Created {{ agreement.created|date:"Y-m-d" }}</p>
  <p class="valid">Valid from {{ agreement.start|date:"Y-m-d" }}{% if agreement.end %} until {{ agreement.end|date:"Y-m-d" }}{% endif %}</p>
  <p class="resource">Provides access to <a href="{% url 'resources_read' agreement.resource.slug %}">{{ agreement.resource.name }}</a></p>
  <section class="htmlfield">{{ agreement.body|safe }}</section>
  {% if associated_signature %}
  <div class="signature">
    <p>You signed this agreement on {{ associated_signature.signed_at|date:"Y-m-d" }}.</p>
    {% if associated_signature.license_code %}<p>License Code: {{ associated_signature.license_code.code }}</p>{% endif %}
    <p>Return to <a href="{{ agreement.redirect_url }}">{{ agreement.redirect_text }}</a></p>
  </div>
  {% else %}
  <form class="signature" method="post">{% csrf_token %}
    {{ form.non_field_errors }}
    {% for field in form %}
    <div id="{{ field.html_name }}_wrapper" {% if field.errors %}class="errors"{% endif %}>
      {{ field.label_tag }}
      {{ field }}
      {{ field.errors }}
      {% if field.help_text %}
      <p class="help">{{ field.help_text|safe }}</p>
      {% endif %}
    </div>
    {% endfor %}
    <div class="actions">
      <input class="ok" type="submit" value="Submit">
    </div>
  </form>
  {% endif %}
  <div class="actions">
    <a class="permissions" href="{% url 'agreements_permissions' agreement.slug %}">Permissions</a>
    <a class="bonus" href="{% url 'signatures_for_agreement_list' agreement.slug %}">Search Signatures</a>
    <a class="ok" href="{% url 'agreements_update' agreement.slug %}">Edit</a>
    <a class="warning" href="{% url 'agreements_delete' agreement.slug %}">Delete</a>
  </div>
{% endblock %}
