{% extends "base.html" %}

{% block sitetitle %}Signatures{% if agreement %} for {{ agreement.title }}{% endif %}{% endblock %}

{% block main %}
  <div class="breadcrumb"><a aria-label="Return to the agreement associated with this list of signatures" href="{% url 'agreements_read' agreement.slug %}">&larr; {{ agreement.title }}</a></div>
  <h2>Signatures on {{ agreement.title }}</h2>
  <form class="search" method="get">
    {{ form.non_field_errors }}
    {% for field in form %}
    <div id="{{ field.html_name }}_wrapper" {% if field.errors %}class="errors"{% endif %}>
      {{ field.label_tag }}
      {{ field }}
      {{ field.errors }}
      {% if field.help_text %}
      <p class="help">{{ field.help_text|safe }}</p>
      {% endif %}
    </div>
    {% endfor %}
    <div class="actions">
      <input class="ok" type="submit" value="Submit">
    </div>
  </form>
  {% if count_per_department %}
  <h3>Per Department</h3>
  <ul>
    {% for count in count_per_department %}
    <li>{{ count.department__name }}: {{ count.num_sigs }}</li>
    {% endfor %}
  </ul>
  {% endif %}
  {% if count_per_faculty %}
  <h3>Per Faculty</h3>
  <ul>
    {% for count in count_per_faculty %}
    <li>{{ count.department__faculty__name }}: {{ count.num_sigs }}</li>
    {% endfor %}
  </ul>
  {% endif %}
  {% if signatures %}
  <h3>Signature List</h3>
  <ul class="objectlist">
    {% for signature in signatures %}
    <li>{{ signature.signed_at|date:"Y-m-d" }} - {{ signature.username }} - {{ signature.email }} - {{ signature.first_name }} {{ signature.last_name }} - {{ signature.department }}</li>
    {% endfor %}
  </ul>
  {% else %}
  <p>No signatures found.</p>
  {% endif %}
  {% include "pagination.html" %}
  <div class="actions">
    {% can_download_signatures %}<a class="bonus" href="{% url 'signatures_for_agreement_csv' agreement.slug %}">Download CSV file of signatures</a>{% endif %}
  </div>
{% endblock %}
