{% extends "base.html" %}

{% block sitetitle %}Agreements{% endblock %}

{% block main %}
  <h2>Agreements</h2>
  {% if agreements %}
  <ul class="objectlist">
    {% for agreement in agreements %}
    <li>
      <a href="{% url 'agreements_read' agreement.slug %}"><h3>{{ agreement.title }}</h3></a>
      <div class="agreementcreated">Created {{ agreement.created | date:"Y-m-d"}}</div>
      <div class="agreementresource">Provides access to {{ agreement.resource }}</div>
    </li>
    {% endfor %}
  </ul>
  {% else %}
    <p>No agreements found.</p>
  {% endif %}
  <div class="actions">
    <a class="ok" href="{% url 'agreements_create' %}">Create a new agreement</a>
  </div>
{% endblock %}
