{% extends "base.html" %}

{% block sitetitle %}Agreements{% endblock %}

{% block main %}
  <h2>Agreements</h2>
  {% if agreements %}
  <ul class="objectlist">
    {% for agreement in agreements %}
    <li {% if agreement.hidden %}class="hidden"{% endif %}>
      <a href="{% url 'agreements_read' agreement.slug %}"><h3>{{ agreement.title }}{% if agreement.hidden %} (Hidden){% endif %}</h3></a>
      <div class="created">Created <span class="human-date" title="{{ agreement.created|date:"Y-m-d" }}">{{ agreement.created|date:"l, F jS, Y" }}</span></div>
      <div class="agreementresource">Provides access to {{ agreement.resource }}</div>
    </li>
    {% endfor %}
  </ul>
  {% else %}
    <p>No agreements found.</p>
  {% endif %}
  {% include "pagination.html" %}
  <div class="actions">
    {% if perms.accounts.add_agreement %}<a class="ok" href="{% url 'agreements_create' %}">Create a new agreement</a>{% endif %}
  </div>
{% endblock %}
