  <h2>Create a new {{ name }}</h2>
  <form method="post">{% csrf_token %}
    {{ form.non_field_errors }}
    {% for field in form %}
    <div {% if field.errors %}class="errors"{% endif %}>
        {{ field.label_tag }}
        {{ field }}
        {{ field.errors }}
        {% if field.help_text %}
        <p class="help">{{ field.help_text|safe }}</p>
        {% endif %}
    </div>
    {% endfor %}
    <div id="actions">
      <input type="submit" value="Create">
      <a class="warning" href="{% url urlname %}">Cancel</a>
    </div>
  </form>
