{% extends "base.html" %}

{% block sitetitle %}Departments{% endblock %}

{% block main %}
  <h2>Departments</h2>
  {% if departments %}
  <ul class="objectlist">
    {% for department in departments %}
    <li><a href="{% url 'departments_read' department.slug %}">{{ department.name }}</a></li>
    {% endfor %}
  </ul>
  {% else %}
    <p>No departments found.</p>
  {% endif %}
  <div class="actions">
    {% if perms.accounts.add_department %}<a class="ok" href="{% url 'departments_create' %}">Create a new department</a>{% endif %}
  </div>
{% endblock %}
