{% extends "base.html" %}

{% block sitetitle %}{{ faculty.name }}{% endblock %}

{% block main %}
  <h2>{{ faculty.name }}</h2>
  {% if departments %}
  <ul>
      {% for department in departments %}
      <li><a href="{% url 'departments_read' department.slug %}">{{ department.name }}</a></li>
      {% endfor %}
  </ul>
  {% else %}
  <p>This faculty has no departments.</p>
  {% endif %}
  <div id="actions">
    <a class="bonus" href="{% url 'departments_create_under_faculty' faculty.slug%}">Add a department to this faculty</a>
    <a class="ok" href="{% url 'faculties_update' faculty.slug %}">Edit</a>
    <a class="warning" href="{% url 'faculties_delete' faculty.slug %}">Delete</a>
  </div>
{% endblock %}
