{% extends "base.html" %}

{% block sitetitle %}Add License Codes For Resource {{ resource.name }}{% endblock %}

{% block main %}
  <div class="breadcrumb"><a aria-label="Return to {{ resource.name }} list of access codes" href="{% url 'resources_codes' resource.slug %}">&larr; Access Codes</a></div>
  <h2>Update License Codes For {{ resource.name }}</h2>
  <form method="post">{% csrf_token %}
    {{ form.non_field_errors }}
    {% for field in form %}
    <div id="{{ field.html_name }}_wrapper" {% if field.errors %}class="errors"{% endif %}>
      {{ field.label_tag }}
      {{ field }}
      {{ field.errors }}
      {% if field.help_text %}
      <p class="help">{{ field.help_text | safe }}</p>
      {% endif %}
    </div>
    {% endfor %}
    <div class="actions">
      <input class="ok" type="submit" value="Submit">
      <a class="warning" href="{% url 'resources_codes' resource.slug %}">Cancel</a>
    </div>
  </form>
{% endblock %}
