{% extends "base.html" %}

{% block sitetitle %}{{ resource.name }}{% endblock %}

{% block main %}
  <div class="breadcrumb"><a aria-label="Return to the list of resources" href="{% url 'resources_list' %}">&larr; Resources</a></div>
  <h2>{{ resource.name }}</h2>
  <section class="htmlfield">{{ resource.description|safe }}</section>
  <p><a href="{% url 'resources_access' resource.slug %}">File Access</a></p>
  <p><a href="{% url 'resources_file_stats' resource.slug %}">File Access Stats</a></p>
  <p><a href="{% url 'resources_codes' resource.slug %}">License Codes</a></p>
  {% if agreements %}
  <h3>Associated Agreements</h3>
  <ul class="objectlist">
    {% for agreement in agreements %}
    <li {% if agreement.hidden %}class="hidden"{% endif %}>
      <a href="{% url 'agreements_read' agreement.slug %}"><h3>{{ agreement.title }}{% if agreement.hidden %} (Hidden){% endif %}</h3></a>
      <div class="agreementcreated">Created {{ agreement.created|date:"Y-m-d" }}</div>
      <p class="valid">Valid from {{ agreement.start|date:"Y-m-d" }}{% if agreement.end %} until {{ agreement.end|date:"Y-m-d" }}{% endif %}</p>
      {% if agreement.associated_signature %}
      <div class="signature">
        <p>You signed this agreement on {{ agreement.associated_signature.signed_at|date:"Y-m-d" }}.</p>
        {% if agreement.associated_signature.license_code %}<p>License Code: {{ agreement.associated_signature.license_code.code }}</p>{% endif %}
      </div>
      {% endif %}
    </li>
    {% endfor %}
  </ul>
  {% endif %}
  <div class="actions">
    <a class="permissions" href="{% url 'resources_permissions' resource.slug %}">Permissions</a>
    <a class="ok" href="{% url 'resources_update' resource.slug %}">Edit</a>
    <a class="warning" href="{% url 'resources_delete' resource.slug %}">Delete</a>
  </div>
{% endblock %}
