{% extends "base.html" %}

{% block sitetitle %}Resources{% endblock %}

{% block main %}
  <h2>Resources</h2>
  <p>Resources are things which signing an agreement gives a user access to. Resources can be physical objects or they can be directories of files which a patron can download though Sign.</p>
  {% if resources %}
  <ul class="objectlist">
    {% for resource in resources %}
    <li><a href="{% url 'resources_read' resource.slug %}">{{ resource.name }}</a></li>
    {% endfor %}
  </ul>
  {% else %}
    <p>No resources found.</p>
  {% endif %}
  {% include "pagination.html" %}
  <div class="actions">
    <a class="ok" href="{% url 'resources_create' %}">Create a new resource</a>
  </div>
{% endblock %}
