{% extends "base.html" %}

{% block sitetitle %}{{ resource.name }}{% endblock %}

{% block main %}
  <div class="breadcrumb"><a aria-label="Return to the list of resources" href="{% url 'resources_list' %}">&larr; Resources</a></div>
  <h2>{{ resource.name }}</h2>{% if resource.hidden %}<p class="alert">&#9888; This resource is hidden.</p>{% endif %}
  <section class="htmlfield">{{ resource.description|safe }}</section>
  {% if agreements %}
  <h3>Associated Agreements</h3>
  <ul class="objectlist">
    {% for agreement in agreements %}
    <li {% if agreement.hidden %}class="hidden"{% endif %}>
      <a href="{% url 'agreements_read' agreement.slug %}"><h3>{{ agreement.title }}{% if agreement.hidden %} (Hidden){% endif %}</h3></a>
      <div class="agreementcreated">Created <span class="human-date" title="{{ agreement.created|date:"Y-m-d" }}">{{ agreement.created|date:"l, F jS, Y" }}</span>.</div>
      <p class="valid">Valid from <span class="human-date" title="{{ agreement.start|date:"Y-m-d" }}">{{ agreement.start|date:"l, F jS, Y" }}</span>{% if agreement.end %} until <span class="human-date" title="{{ agreement.end|date:"Y-m-d" }}">{{ agreement.end|date:"l, F jS, Y" }}</span>{% endif %}.</p>
      {% if agreement.associated_signature %}
      <div class="signature">
        <p>You signed this agreement on <span class="human-date" title="{{ agreement.associated_signature.signed_at|date:"Y-m-d" }}">{{ agreement.associated_signature.signed_at|date:"l, F jS, Y" }}</span>.</p>
        {% if agreement.associated_signature.license_code %}<p>License Code: {{ agreement.associated_signature.license_code.code }}</p>{% endif %}
      </div>
      {% endif %}
    </li>
    {% endfor %}
  </ul>
  {% endif %}
  <div class="actions">
    <a class="bonus" href="{% url 'resources_access' resource.slug %}">File Access</a>
    {% if can_view_licensecodes %}<a class="bonus" href="{% url 'resources_codes_list' resource.slug %}">License Codes</a>{% endif %}
    {% if can_view_file_access_stats %}<a class="bonus" href="{% url 'resources_file_stats' resource.slug %}">File Access Stats</a>{% endif %}
    {% if can_edit %}<a class="permissions" href="{% url 'resources_permissions' resource.slug %}">Permissions</a>{% endif %}
    {% if can_edit %}<a class="ok" href="{% url 'resources_update' resource.slug %}">Edit</a>{% endif %}
    {% if perms.accounts.delete_resource %}<a class="warning" href="{% url 'resources_delete' resource.slug %}">Delete</a>{% endif %}
  </div>
{% endblock %}
